*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.navbar{
    position: fixed;
    z-index: 1;
    top: 0px;
    width: 100%;
    background-color: #39A0ED;
}

.navbar-nav>.nav-link:link, .navbar-nav>.nav-link:active, .navbar-nav>.nav-link:visited{
    color: white;
}

.navbar-nav>.nav-link:hover{
    color: white;
    font-weight: bold;
}

#primera_div{
    height: 100vh;
    padding-top: 5%;
}

#segunda_div{
    height: 100vh;
    background-color:  #4C6085;
    padding-top: 5%;
}

.row>.col>.container{
    padding: 20px 40px;
}

.footer{
    position: relative;
    width: 100%;
    background-color: #39A0ED;
}

footer>p{
    padding:10px 0px;
    text-align: center;
    margin-bottom: 0px;
}

/*Media queries
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
*/
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575px){
    .row>.col>.container{
        margin-bottom: 50px;
        margin-top: 50px;
        padding: 20px 10px;
    }
    #primera_div{
        height: auto;
    }
    #segunda_div{
        height: auto;
    }
}

@media (min-width: 576px) and (max-width:767px) { 
    .row>.col>.container{
        margin-bottom: 50px;
        margin-top: 50px;
        padding: 20px 10px;
    }
    #primera_div{
        height: auto;
    }
    #segunda_div{
        height: auto;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width:991px){ 
    .row>.col>.container{
        margin-bottom: 50px;
        margin-top: 50px;
        padding: 20px 10px;
        
    }
    #primera_div{
        height: auto;
    }
    #segunda_div{
        height: auto;
    }
    
 }

/* Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra large devices (large desktops, 1200px and up) 
@media (min-width: 1200px) { ... } */