*{
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    width: 100%;
    height: 100%;
    background-color: dodgerblue;
}

#calculadora{
    margin-top: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
}

/* Submit e Input*/
input[type="submit"],input[type="text"],select {
    padding: 10px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
}
input[type="submit"]:focus{
    border: none;
    outline: none;
}

input[type="submit"]:hover, select{
    background-color: #1B1C1D;
    color: white;
    font-weight: bold;
}